

ion-item#core-course-module-22 img{
display:none!important;}

ion-item#core-course-module-33 img{
display:none!important;}

ion-item#core-course-module-22:before{
content:'\f29e';
font-family:Ionicons;
font-size:1.8em;
display:inline-block;
text-align:center;
padding:9px 0px;}

ion-item#core-course-module-33:before{
content:'\f306';
font-family:Ionicons;
font-size:1.8em;
display:inline-block;
text-align:center;
padding:9px 0px;}

/*main-header*/
body.scheme-dark .toolbar-background-md{
background-color:#ffc530!important;}

body.scheme-dark .toolbar-background-ios{
background-color:#ffc530!important;}

body.scheme-light .toolbar-background-md{
background-color:#fc4a1a!important;}

body.scheme-light .toolbar-background-ios{
background-color:#fc4a1a!important;}





body.scheme-light .toolbar-title-md{
color:#fff!important;}

body.scheme-light .toolbar-title-ios{
color:#fff!important;}

body.scheme-dark .toolbar-title-md{
color:#000!important;}

body.scheme-dark .toolbar-title-ios{
color:#000!important;}



body.scheme-light .back-button-ios{
color:#fff!important;}

body.scheme-dark .back-button-ios{
color:#000!important;}



body.scheme-light .ion-ios-arrow-back:before{
color:#000;}

body.scheme-light .ion-md-arrow-back:before{
color:#000;}

body.scheme-dark .ion-ios-arrow-back:before{
color:#fff;}
body.scheme-dark .header .ion-ios-arrow-back:before{
color:#000;}

body.scheme-dark .ion-md-arrow-back:before{
color:#fff;}
body.scheme-dark .header .ion-md-arrow-back:before{
color:#000;}



body.scheme-light .ion-ios-arrow-forward:before{
color:#000;}

body.scheme-dark .ion-ios-arrow-forward:before{
color:#fff;}




body.scheme-light .ion-ios-search:before{
color:#fff;}

body.scheme-light .ion-md-search:before{
color:#fff;}

body.scheme-dark .ion-ios-search:before{
color:#000;}

body.scheme-dark .ion-md-search:before{
color:#000;}



body.scheme-light .ion-ios-more:before{
color:#fff;}

body.scheme-light .ion-md-more:before{
color:#fff;}

body.scheme-dark .ion-ios-more:before{
color:#000!important;}

body.scheme-dark .ion-md-more:before{
color:#000!important;}



body.scheme-light .ion-md-information-circle:before{
color:#000;}



body.scheme-light .ion-ios-funnel-outline:before{
color:#fff!important;}

body.scheme-dark .ion-ios-funnel-outline:before{
color:#000!important;}

/*main-header*/

/*sec-header*/
body.scheme-light ion-app.app-root .core-tabs-bar .tab-slide{
color:#000!important}

body.scheme-light ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true]{
color:#fc4a1a!important;
border-bottom-color:#fc4a1a!important;}

[dir=ltr] body.scheme-light a.item-md:not([detail-none]) .item-inner{
filter:brightness(0);}

[dir=ltr]body.scheme-light a.item-ios:not([detail-none]) .item-inner{
filter:brightness(0);}

body.scheme-light .item-divider-md{
color:#000!important;}

body.scheme-light .item-divider-ios{
color:#000!important;}






body.scheme-light .bar-button-default-ios{
color:#fff!important;}

body.scheme-light .bar-button-default-md{
color:#fff!important;}

body.scheme-dark .bar-button-default-ios{
color:#000!important;}

body.scheme-dark .bar-button-default-md{
color:#000!important;}

/*sec-header*/

/*footer*/

body.scheme-dark .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
color:#ffc530!important;}

body.scheme-dark .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
color:#ffc530!important;}

body.scheme-light .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
color:#fc4a1a!important;}

body.scheme-light .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
color:#fc4a1a!important;}

/*footer*/

/*calendario*/
body.scheme-dark .fab-md{
background-color:#ffc530!important;}

body.scheme-dark .fab-ios{
background-color:#ffc530!important;}

body.scheme-light .fab-md{
background-color:#fc4a1a!important;}

body.scheme-light .fab-ios{
background-color:#fc4a1a!important;}



body.scheme-dark .ion-ios-add:before{
color:#000;
font-weight:800;}

body.scheme-dark .ion-md-add:before{
color:#000;
font-weight:800;}

body.scheme-light .ion-ios-add:before{
color:#fff;
font-weight:800;}

body.scheme-light .ion-md-add:before{
color:#fff;
font-weight:800;}





body.scheme-dark ion-app.app-root addon-calendar-calendar .addon-calendar-day.today .addon-calendar-day-number span{
background-color:#ffc530!important;
color:#000!important;}

body.scheme-light ion-app.app-root addon-calendar-calendar .addon-calendar-day.today .addon-calendar-day-number span{
background-color:#fc4a1a!important;
color:#fff!important;}

/*calendario*/
