

ion-item#core-course-module-22 img{
display:none!important;}

ion-item#core-course-module-33 img{
display:none!important;}

ion-item#core-course-module-22:before{
content:'\f29e';
font-family:Ionicons;
font-size:1.8em;
display:inline-block;
text-align:center;
padding:9px 0px;}

ion-item#core-course-module-33:before{
content:'\f306';
font-family:Ionicons;
font-size:1.8em;
display:inline-block;
text-align:center;
padding:9px 0px;}

/*main-header*/
.toolbar-background-md{
background-color:#ffc530!important;}

.toolbar-background-ios{
background-color:#ffc530!important;}

.toolbar-title-md{
color:#000!important;}

.toolbar-title-ios{
color:#000!important;}

.back-button-ios{
color:#000!important;}

.ion-ios-arrow-back:before{
color:#000;}

.ion-md-arrow-back:before{
color:#000;}

.ion-ios-arrow-forward:before{
color:#000;}

.ion-ios-search:before{
color:#000;}

.ion-md-search:before{
color:#000;}

.ion-ios-more:before{
color:#000;}

.ion-md-more:before{
color:#000;}

.ion-md-information-circle:before{
color:#000;}

/*main-header*/

/*sec-header*/
ion-app.app-root .core-tabs-bar .tab-slide{
color:#000!important}

ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true]{
color:#fc4a1a!important;
border-bottom-color:#fc4a1a!important;}

[dir=ltr] a.item-md:not([detail-none]) .item-inner{
filter:brightness(0);}

[dir=ltr] a.item-ios:not([detail-none]) .item-inner{
filter:brightness(0);}

.item-divider-md{
color:#000!important;}

.item-divider-ios{
color:#000!important;}
/*sec-header*/

/*footer*/

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
color:#fc4a1a!important;}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
color:#fc4a1a!important;}

/*footer*/

/*calendario*/
.fab-md{
background-color:#fc4a1a!important;}


/*calendario*/
